{%load static%}
<html>
    <head>
        <title>Django blog</title>
        <link rel="stylesheet" href="{%static 'css/base.css'%}"
    </head>
    <body>
        <header>
        	<div class="nav-left">
            	<h1><a href="{%url 'home'%}">Django blog</a></h1>
            </div>
            <div class="nav-right">
            	<a href='{%url "create_post" %}'>create post</a>
            </div>
        </header>
        <a href="{%url 'signup' %}">sign up</a>
        {% if user.is_authenticated %}
        	<p>Hi {{user.username}}!</p>
        	<a href="{%url 'logout'%}">log out</a>
        {%else%}
        	<p>You are not logged in</p>
        	 <a href="{% url 'login'%}">Log in</a>
        {%endif%}

        <div>
        {%block content%}
        {%endblock content%}
        </div>

    </body>
</html>